// This helper class is used on the legend element in our form fieldset
// A form is not considered "semantic" if it does not include one (or more)
// fieldset elements, and they should be followed by a legend element,
// that acts as both heading and the best way to orient a client that
// is using screen reading tools. So i think that this makes this element
// mandatory, i could have tried to use this as the register heading, but
// wanted it to be able to be set more specific targetting screen readers
// so i hide the element with this selector
.hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

// I find helper classes like these very handy, but they can be repeated a lot, and much more during larger projects i guess. I think this cold be refactored and included in more advanced Sass/BEM mixins and/or functions.
.center {
  text-align: center;
}

// I wanted to have a pure CSS layer on top of the background images
// So after doing some more work with the background png images
// i saw that i missed to include the overlay in PhotoShop
// I managed to shrink the tablet png from 3MB to 900kb (using TinyPNG)
// So i will comment out this uneccessary layer class, and keep
// the code for reference!
// .layer {
//   background-color: rgba(0, 0, 0 , .6);
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   right: 0;
//   left: 0;
// }