.hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.center {
  text-align: center;
}

.layer {
  background-color: rgba(0, 0, 0 , .8);
  height: 100vh;
  padding-top: 1px;
}