// This is where i style all base elements, so when styling a bare element, with its own selector. Since these styles applies to the whole app, the rules here should be sparse
* {
  box-sizing: border-box;
}

body {
  background-color: #000;
  background-image: url('../app/img/kaboo.png');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  background-attachment: fixed;
  background-position-y: 1px;
  font-family: $font-family-main;
  color: #fff;
  margin: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

input {
  border: 2px solid $green;
}