* {
  box-sizing: border-box;
}

body {
  text-transform: uppercase;
  font-family: $main-font;
  background: #000;
  // background-image: url('../app/img/kaboo.png');
  // background-size: contain;
  // background-position: fixed;
  // background-repeat: no-repeat;
  z-index: 4;
  color: #fff;
  margin: 0;
}



button, input, select, textarea {
  font-family : inherit;
  font-size   : 100%;
}

.center {
  text-align: center;
}

.reg-form {
  grid-template-columns: repeat(2, 1fr);
}