<!-- Using indentation of 2 spaces as 1 tab :) Prefer shorter indentation, mostly because of width readability -->
<div class="layer">
<form action="" method="post" id="form" class="form" [formGroup]="userForm">
  <div class="form__heading center">
    <h1 class="form__main-heading">Register</h1>
    <p class="form__intro"> please finalise your registration before you can proceed</p>
  </div>
  <!-- Group label and input fields that "belong" together -->
  <fieldset form="form" class="form__fieldset">

    <!-- Heading used for screen readers, will be hidden for display with CSS -->
    <legend class="hidden">Personal</legend>
    <div class="grid-wrapper form-group">
      <ol class="grid">
        <li class="gi-1">
          <!-- After trying a lot of different approaches with form validation using latest Angular, one of the smoothest ways is to use native required, and i have coupled it with doing some form validation in a "Reactive Angular Style", i have spent a lot of time on with the official docs  -->
          <label for="firstName" class="form__label">First name</label>
          <input type="text" placeholder="FIRST NAME" id="name" class="form__input" formControlName="firstName" required>
        </li>
        <li class="gi-2">
          <label for="lastName" class="form__label">Last name</label>
          <input type="text" placeholder="LAST NAME" id="lastName" class="form__input" formControlName="lastName" required>
        </li>
        <li class="gi-3">
          <label for="birthdate" class="form__label">Date of birth</label>
          <input type="date" placeholder="DATE OF BIRTH" id="birthdate" class="form__input" required>
        </li>
        <li class="gi-4">
          <ul>
            <li>
              <input type="radio" id="male" value="male" name="sex" class="form__input--radio">
              <label for="male" class="form__label--radio">Male</label>
            </li>
            <li>
              <input type="radio" id="female" value="female" name="sex" class="form__input--radio">
              <label for="female" class="form__label--radio">Female</label>
            </li>
          </ul>
        </li>
        <li class="gi-5">
          <label for="address" class="form__label">Address</label>
          <input type="text" placeholder="ADDRESS" id="address" class="form__input" formControlName="street">
        </li>
      </ol>
      <ol class="grid--half">
        <li class="gi-6">
          <label for="postCode" class="form__label">Post code</label>
          <input type="text" placeholder="POST CODE" id="postCode" class="form__input" formControlName="postCode">
        </li>
        <li class="gi-7">
          <label for="city" class="form__label">City</label>
          <input type="text" placeholder="CITY" id="city" class="form__input" formControlName="city" required>
        </li>
        <li class="gi-8">
          <label for="country" class="form__label">Country</label>
          <input type="text" placeholder="COUNTRY" id="country" class="form__input" required>
        </li>
        <li class="gi-9">
          <label for="countryCode" class="form__label">Country code</label>
          <input type="number" placeholder="+46" id="countryCode" class="form__input" name="lastName" required>
        </li>
        <li class="gi-10">
          <label for="phone" class="form__label">Phone number</label>
          <input type="tel" placeholder="PHONE NUMBER" id="phone" class="form__input" required>
        </li>
      </ol>
    </div>
  </fieldset>
  <button type="submit" class="btn">Complete registration</button>
  <p class="center">You will then confirm your deposit</p>
</form>
</div>