.reg-form__input {
  padding: 10px 5px;
  font-size: 0.7rem;
  background: none;
  color: #fff;
  width: 100%;
}

.orientation {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.form__heading {
  margin-top: 35px;
  margin-bottom: 20px;
}

.reg-form__label-heading {
  display: block;
  font-size: .4rem;
}

.reg-form__label-heading--sex {
  display: inline-block;
  font-size: .5rem;
}

.reg-form__main-heading {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 20px;
}